<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Ứng dụng quản lý</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/attendance' ? 'active' : '' %>" aria-current="page" href="/attendance">Điểm danh bắt đầu/kết thúc làm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/profile' ? 'active' : '' %>" aria-current="page" href="/profile/<%= user._id %>">Xem/sửa thông tin cá nhân</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/statistic' ? 'active' : '' %>" aria-current="page" href="/statistic">Tra cứu thông tin giờ làm - lương</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/covidstatus' ? 'active' : '' %>" aria-current="page" href="/covidstatus/">Thông tin Covid cá nhân</a>
        </li>
      </ul>
      <!-- <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>