<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <div class="container">

    <div class="row py-1 px-md-5 py-md-3 px-sm-0 py-sm-2">
      <div class="col-sm-0 col-md-1"></div>
      <div class="col-sm-12 col-md-10">
        <!-- title -->
        <div class="app-title mb-3 text-center">
          <h5>Bảng thống kê công việc - ngày <%= attendDoc.date %></h5>
        </div>
        <!-- Time Records table -->
        <table class="table table-bordered text-center">
          <thead class="table-light">
            <tr>
              <th scope="col" class="col-1">STT</th>
              <th scope="col" class="col-2">Nơi làm việc</th>
              <th scope="col" class="col-3">Thời gian bắt đầu</th>
              <th scope="col" class="col-3">Thời gian kết thúc</th>
              <th scope="col" class="col-3">Thời gian làm việc</th>
            </tr>
          </thead>
          <tbody>
            <% attendDoc.timeRecords.forEach((record, index) => { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><% if ( record.workplace === 'home' ) { %>Nhà<% } else if (record.workplace === 'company') { %>Công ty<% } else { %>Khách hàng<% } %></td>
              <td><%= record.timeIn.toLocaleTimeString() %></td>
              <td><%= record.timeOut.toLocaleTimeString() %></td>
              <td><%= record.timeWorking %></td>
            </tr>
            <% }) %>
            <tr>
              <th colspan="4">Tổng thời gian làm việc</th>
              <td>
                <h3><%= attendDoc.timeSum %></h3>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end form -->
      </div>
      <div class="col-sm-0 col-md-1"></div>
    </div>
  </div>
</body>

<%- include('./includes/footer.ejs') %>