<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <% if ( !user.status.isWorking ) { %>
      <div class="form-control-main">
        <form action="/attendance?type=start" method="post">
          <h1 class="mb-3">Điểm danh công việc</h1>
          <div class="mb-3">
            <label for="input-full-name" class="form-label">Họ và tên</label>
            <input type="text" id="input-full-name" class="form-control" placeholder="Họ và tên" disabled="true" value="<%= user.name %>">
          </div>
          <div class="mb-3">
            <label for="select-workplace" class="form-label">Nơi đăng ký làm việc:</label>
            <select class="form-control" id="select-workplace" name="workplace">
              <option value="home">Nhà</option>
              <option value="company" selected="selected">Công ty</option>
              <option value="customer">Khách hàng</option>
            </select>
          </div>
          <div class="mb-3"><button type="submit" class="btn btn-success">Điểm danh</button></div>
        </form>
        <form action="/attendance" method="post">
          <button class="btn btn-primary">Đăng ký Nghỉ phép</button>
        </form>
      </div>
      <% } else { %>
      <div class="form-control-main">
        <h1 class="mb-3">Kết thúc công việc</h1>
        <div class="mb-3">
          <label for="input-full-name" class="form-label">Họ và tên:</label>
          <input type="text" id="input-full-name" class="form-control" placeholder="Họ và tên" disabled="true" value="<%= user.name %>">
        </div>
        <div class="mb-3">
          <label for="input-status-work" class="form-label">Trạng thái:</label>
          <input type="text" id="input-status-work" class="form-control" placeholder="Nơi làm việc" disabled="true" value="<% if ( user.status.isWorking ) { %>Đang làm việc<% } else { %>Công việc tạm dừng<% } %>">
        </div>
        <div class="mb-3">
          <label for="input-workplace" class="form-label">Nơi làm việc:</label>
          <input type="text" id="input-workplace" class="form-control" placeholder="Nơi làm việc" disabled="true" value="<% if ( user.status.workplace === 'home' ) { %>Nhà<% } else if (user.status.workplace === 'company') { %>Công ty<% } else { %>Khách hàng<% } %>">
        </div>
        <form action="/attendance?type=end" method="post">
          <div class="mb-3"><button type="submit" class="btn btn-danger">Kết thúc làm</button></div>
        </form>
      </div>
      <% } %>

      <%- include('./includes/footer.ejs') %>
    </div> <!-- main -->
  </div> <!-- layout -->
</body>