<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <!-- main start -->
      <div class="container-main">
        <!-- /covidstatus/:covidStatusId -->
        <div class="covid-status-form">
          <form action="/covidstatus/<%= covidStatus._id %>" method="get" class="form-control-main form-control border border-danger border-2 needs-validation">
            <div class="row">
              <div class="col-12 col-sm-8 col-md-7">
                <p>Số lần Đăng ký thông tin thân nhiệt: <span class="font-weight-bold"><%= covidStatus.bodyTemperatures.length %></span></p>
                <p>Số lần Đăng ký thông tin tiêm Vaccine: <span class="font-weight-bold"><%= covidStatus.vaccines.length %></span></p>
                <p>Số lần Đăng ký thông tin thân nhiệt: <span class="font-weight-bold"><%= covidStatus.positive.length %></span></p>
              </div>
              <div class="col-12 col-sm-4 col-md-5">
                <button class="btn btn-danger">Xem thông tin chi tiết</button>
              </div>
            </div>
          </form>
        </div>
        <!-- body temperature information -->
        <div class="covid-status-form">
          <form action="/covidstatus?type=bodytemp" method="post" class="form-control-main form-control border border-success border-2 needs-validation" novalidate>
            <h1 class="text-center mb-3">Đăng ký thông tin thân nhiệt</h1>
            <div class="row mb-3">
              <label for="input-body-temperature" class="col-sm-4 col-md-3 col-form-label">Nhiệt độ cơ thể:</label>
              <div class="col-sm-8 col-md-9 mb-3">
                <input type="number" class="form-control" id="input-body-temperature" placeholder="Nhập nhiệt độ của cơ thể" name="bodyTemperature" required>
                <div class="valid-feedback">
                  Xin vui lòng bấm Đăng ký để xác nhận!
                </div>
                <div class="invalid-feedback">
                  Xin vui lòng nhập Nhiệt độ cơ thể của bạn!
                </div>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </form>
        </div>
        <!--Register for vaccination information -->
        <div class="covid-status-form">
          <form action="/covidstatus?type=vaccination" method="post" class="form-control-main form-control border border-success border-2 needs-validation" novalidate>
            <h1 class="text-center mb-3">Đăng ký thông tin tiêm Vaccine</h1>
            <div class="row mb-3">
              <label class="col-sm-4 col-md-3 col-form-label">Mũi vaccine số: <%= covidStatus.vaccines.length + 1%></label>
              <div class="col-sm-8 col-md-9">
                <div class="valid-feedback">
                  Xin vui lòng bấm Đăng ký để xác nhận!
                </div>
                <div class="invalid-feedback">
                  Xin vui lòng nhập Tên vaccine!
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="input-vaccine-name" class="col-sm-4 col-md-3 col-form-label">Tên vaccine:</label>
              <div class="col-sm-8 col-md-9">
                <input type="text" class="form-control" id="input-vaccine-name" placeholder="Nhập tên vaccine" name="name" required>
                <div class="valid-feedback">
                  Xin vui lòng bấm Đăng ký để xác nhận!
                </div>
                <div class="invalid-feedback">
                  Xin vui lòng nhập Tên vaccine!
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="input-date-vaccine" class="col-sm-4 col-md-3 col-form-label">Ngày tiêm vaccine:</label>
              <div class="col-sm-8 col-md-9">
                <div class="input-group date" id="datepicker1">
                  <input id="input-date-vaccine" type="text" class="form-control" placeholder="dd/mm/yyyy" name="date" required>
                  <span class="input-group-append">
                    <span class="input-group-text bg-white d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                  <div class="valid-feedback">
                    Xin vui lòng bấm Đăng ký để xác nhận!
                  </div>
                  <div class="invalid-feedback">
                    Xin vui lòng nhập Ngày tiêm vaccine!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-success">Đăng ký</button>
            </div>
          </form>
        </div>

        <!--Register for Positive -->
        <div class="covid-status-form">
          <form action="/covidstatus?type=positive" method="post" class="form-control-main form-control border border-success border-2 needs-validation" novalidate>
            <h1 class="text-center mb-3">Đăng ký thông tin dương tính với covid</h1>
            <div class="row mb-3">
              <label for="input-date-positive" class="col-sm-4 col-md-3 col-form-label">Ngày phát hiện dương tính:</label>
              <div class="col-sm-8 col-md-9">
                <div class="input-group date" id="datepicker2">
                  <input id="input-date-positive" type="text" class="form-control" placeholder="dd/mm/yyyy" name="date" required>
                  <span class="input-group-append">
                    <span class="input-group-text bg-white d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                  <div class="valid-feedback">
                    Xin vui lòng bấm Đăng ký để xác nhận!
                  </div>
                  <div class="invalid-feedback">
                    Xin vui lòng nhập Ngày phát hiện dương tính!
                  </div>
                </div>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </form>
        </div>

      </div> <!-- container-main -->
      <!-- table -->
      <%- include('./includes/footer.ejs') %>
    </div> <!-- main end -->
  </div> <!-- layout -->
</body>