<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <!-- main begin -->
      <div class="container">
        <div class="row">
          <h1 class="mb-3">Thông tin cá nhân</h1>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="avatar-form-control">
              <div class="avatar-image">
                <img src="<%= user.image %>" alt="">
              </div>
              <!-- button change image -->
              <div class="avatar-button">
                <form action="/profile/<%= user._id %>" method="post">
                  <div class="input-group  mb-3">
                    <input type="text" class="form-control" aria-describedby="input-image" value="<%= user.image %>" name="image">
                    <button class="btn btn-outline-success" type="submit" id="input-image">Thay đổi</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <div class="form-control">
              <!-- id -->
              <div class="mb-1 row">
                <label for="input-id" class="col-4 col-lg-2 col-form-label">ID: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-id" value="<%= user._id %>">
                </div>
              </div>
              <!-- name -->
              <div class="mb-1 row">
                <label for="input-name" class="col-4 col-lg-2 col-form-label">Họ và tên: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-name" value="<%= user.name %>">
                </div>
              </div>
              <!-- doB -->
              <div class="mb-1 row">
                <label for="input-dob" class="col-4 col-lg-2 col-form-label">Ngày sinh: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-dob" value="<%= user.dob.toLocaleDateString('vi-VN', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric'
                  }) %>">
                </div>
              </div>
              <!-- salaryScale -->
              <div class="mb-1 row">
                <label for="input-salary-scale" class="col-4 col-lg-2 col-form-label">Hệ số lương: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-salary-scale" value="<%= user.salaryScale %>">
                </div>
              </div>
              <!-- startDate  -->
              <div class="mb-1 row">
                <label for="input-start-date" class="col-4 col-lg-2 col-form-label">Ngày vào: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-start-date" value="<%= user.startDate.toLocaleDateString('vi-VN', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric',
                    }) %>">
                </div>
              </div>
              <!-- department   -->
              <div class="mb-1 row">
                <label for="input-department" class="col-4 col-lg-2 col-form-label">Phòng ban: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-department" value="<%= user.department %>">
                </div>
              </div>
              <!-- annualLeave    -->
              <div class="mb-1 row">
                <label for="input-annual-leave" class="col-4 col-lg-2 col-form-label">Ngày phép: </label>
                <div class="col-6 col-lg-10">
                  <input type="text" readonly class="form-control-plaintext" id="input-annual-leave" value="<%= user.annualLeave  %>">
                </div>
              </div>
            </div> <!-- form-control -->
          </div>
        </div>
      </div>
      <%- include('./includes/footer.ejs') %>
    </div> <!-- main end -->
  </div> <!-- layout -->
</body>