<%- include('./includes/header.ejs') %>
<!--  -->

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="container-main">
      <div class="container-fuild">
        <div class="row wrap-form-control">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Tìm kiếm thông tin" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Tìm</button>
          </form>
        </div>
        <div class="row">
          <!-- Statistics -->
          <div class="col-12">
            <h5 class="text-center fw-bold">
              Tra cứu thông tin giờ làm - lương
            </h5>
            <table class="table table-bordered border-success border border-2 text-center">
              <thead class="table-success border-success">
                <tr>
                  <th scope="col">Ngày</th>
                  <th scope="col">Nơi làm việc</th>
                  <th scope="col">Giờ bắt đầu</th>
                  <th scope="col">Giờ kết thúc</th>
                  <th scope="col">Thời gian làm việc</th>
                </tr>
              </thead>
              <tbody>
                <% statistics.forEach(statistic=> { %>
                <!-- main loop -->
                <% if ( statistic.type==='attendance' ) { %>
                  
                <% statistic.timeRecords.forEach((record, index, array)=> { %>
                <tr class="border border-1 border-success">
                  <% if ( index === 0 ) { %>
                  <th rowspan="<%= array.length + 1 %>" scope="row" class="col-1">
                    <%= statistic.date %>
                  </th>
                  <% } %>
                  <td class="col-2">
                    <%= record.workplace==='company' ? 'Công ty' : record.workplace==='home' ? 'Tại nhà' : 'Khách hàng' %>
                  </td>
                  <td class="col-2">
                    <%= record.timeIn.toLocaleTimeString('vi-VN', { hour: '2-digit' , minute:'2-digit', second: '2-digit' }) %>
                  </td>
                  <td class="col-2">
                    <%= record.timeOut ? record.timeOut.toLocaleTimeString('vi-VN', { hour: '2-digit', minute:'2-digit', second: '2-digit' }) : '--' %>
                  </td>
                  <td class="col-3">
                    <%= record.timeWorking ? helper.convertSecondsToTimeString(record.timeWorking) : 'Chưa kết thúc' %>
                  </td>
                </tr>
                <!-- Tổng cộng -->
                <% if ( index===array.length - 1) { %>
                <!-- begin check have timeOut => timeWorking -->
                <% if ( statistic.timeRecords[index].timeOut ) { %>
                <tr class="fw-bold table-light border border-1 border-success">
                  <% if ( (statistic.timeSum / (3600 * 1000))> 8 ) { %>
                  <td colspan="2">
                    Giờ làm thêm: <%= helper.convertSecondsToTimeString(statistic.timeSum - 8 * 3600 * 1000) %>
                  </td>
                  <% } else { %>
                  <td colspan="2">
                    Tổng giờ làm + phép (nếu có): <%= helper.convertSecondsToTimeString(statistics.find((s) => (s.type === 'absence' && s.date === statistic.date)).hours * 3600 + statistic.timeSum) %>
                  </td>
                  <td>
                    Giờ thiếu: <%= helper.convertSecondsToTimeString(-statistic.timeSum + 8 * 3600) %>
                  </td>
                  <% } %>
                  <td>
                    Tổng giờ làm: <%= helper.convertSecondsToTimeString(statistic.timeSum) %>
                  </td>
                </tr>
                <% } else { %>
                <tr class="fw-bold table-light border border-1 border-success">
                  <td colspan="4">Hiện tại đang làm việc</td>
                </tr>
                <% } %>
                <!-- end check have timeOut => timeWorking -->
                <% } %>
                <% }) %>
                <% } else if (statistic.type==='absence' ) { %>
                <tr class="table-warning border border-1 border-success">
                  <th scope="row">
                    <%= statistic.date %>
                  </th>
                  <td colspan="4">Nghỉ phép: <%= statistic.hours %> giờ</td>
                </tr>
                <% } %>
                <!-- /ifel -->
                <% }) %>
                <!-- /forEach -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- container-main -->
  </div>
  <!-- layout -->
  <%- include('./includes/footer.ejs') %>
</body>