<%- include('./includes/header.ejs') %>
<!--  -->

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="container-main">
      <div class="container-fuild">
        <!-- Alerts -->
        <% if ( errorMessage ) { %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Có lỗi xảy ra!</h4>
          <p><%= errorMessage %></p>
        </div>
        <% } %>
        <!-- start form -->
        <form action="/statisticall/<%= staff._id %>?action=config" method="post">
          <div class="row mb-5">
            <h5>Cấu hình Giao diện người dùng</h5>
            <label for="option-line" class="col-3">Số dòng trên 1 trang</label>
            <div class="col-6">
              <select id="option-line" class="form-select form-select-sm" aria-label=".form-select-sm example" name="configLines">
                <option selected>Chọn số dòng</option>
                <option value="5">5 dòng</option>
                <option value="10">10 dòng</option>
                <option value="20">20 dòng</option>
                <option value="30">30 dòng</option>
                <option value="40">40 dòng</option>
              </select>
            </div>
            <!-- end col -->
            <div class="col-3">
              <button type="submit" class="btn btn-warning btn-congig w-100">Cấu hình</button>
            </div>
        </form>
        <!-- end form -->
        <!-- end col -->
      </div>
      <!-- TIME WORKING FORM -->
      <div class="row">
        <!-- Statistics -->
        <div class="col-12">
          <h5 class="text-center fw-bold">
            Danh sách giờ đã làm
          </h5>

          <table class="table table-bordered border-success border border-2 text-center">
            <thead class="table-success border-success">
              <tr>
                <th scope="col" class="col-2">Ngày</th>
                <th scope="col" class="col-3">Nơi làm việc</th>
                <th scope="col" class="col-2">Giờ bắt đầu</th>
                <th scope="col" class="col-2">Giờ kết thúc</th>
                <th scope="col" class="col-3">Thời gian làm việc</th>
                <% if ( user.role === 'ADMIN' ) { %>
                <th scope="col">Hành vi</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% statistics.length && statistics.forEach((statistic, index, array)=> { %>
              <% if ( statistic.type === 'attendance' ) { %>
              <tr class="border border-1 border-success">
                <th scope="row">
                  <%= statistic.date %>
                </th>
                <td>
                  <%= statistic.timeRecord.workplace==='company' ? 'Công ty' : statistic.timeRecord.workplace==='home' ? 'Tại nhà' : 'Khách hàng' %> </td>
                <td>
                  <%= statistic.timeRecord.timeIn.toLocaleTimeString('vi-VN', { hour: '2-digit' , minute:'2-digit', second: '2-digit' }) %>
                </td>
                <td>
                  <%= statistic.timeRecord.timeOut ? statistic.timeRecord.timeOut.toLocaleTimeString('vi-VN', { hour: '2-digit', minute:'2-digit', second: '2-digit' }) : '--' %> </td>
                <td>
                  <%= statistic.timeRecord.timeWorking ? helper.convertSecondsToTimeString(statistic.timeRecord.timeWorking) : 'Chưa kết thúc' %>
                </td>
                <% if ( user.role === 'ADMIN' ) { %>
                <% if ( staff.status.confirmMonth.find(cmonth => cmonth === +statistic.dateAt.toLocaleDateString('vi-VN', { month: '2-digit' }))) { %>
                <td class="col-3">
                  <form action="/statistic/<%= staff._id %>?action=delete" method="post">
                    <input type="hidden" name="attendanceId" value="<%= statistic.attendanceId %>">
                    <input type="hidden" name="recordTimeIn" value="<%= statistic.timeRecord.timeIn %>">
                    <button type="submit" class="btn btn-secondary btn-delete">Xóa</button>
                  </form>
                </td>
                <% } else { %>
                <td class="col-3">
                  <form action="/statistic/<%= staff._id %>?action=delete" method="post">
                    <input type="hidden" name="attendanceId" value="<%= statistic.attendanceId %>">
                    <input type="hidden" name="recordTimeIn" value="<%= statistic.timeRecord.timeIn %>">
                    <button type="submit" class="btn btn-danger btn-delete">Xóa</button>
                  </form>
                </td>
                <% } %>



                <% } %>
              </tr>
              <% } else if (statistic.type==='absence' ) { %>
              <tr class="table-warning border border-1 border-success">
                <th scope="row">
                  <%= statistic.date %>
                </th>
                <td colspan="5" class="fw-bold">Nghỉ phép: <%= statistic.hours >= 8 ? `1 ngày (${statistic.hours} giờ) ` : `${statistic.hours} giờ`%></td>
              </tr>
              <% } %>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
      <!-- end row -->
      <!-- pagination -->
      <%- include('./includes/pagination.ejs') %>
      <!-- end pagination -->
    </div>
    <!-- container-fuild -->
  </div>
  <!-- container-main -->
  </div>
  <!-- layout -->
  <%- include('./includes/footer.ejs') %>
</body>